body{
    margin: 0;
}
main{
    width: 1320px;

}

.hero-section{
    background-image:url('../images/Banner Image.png');
    height: 600px;
}

.hero-section h1{
    color: aliceblue;
}

.categories{

}

.categories h1, h2, h3{
    /* text-align: center; */
}

.party{
    background-image:url('../images/Vectorrr.png');
    height: 600px;
}

.party h1{
    color: aliceblue;
}

.subscribe{
    height: 616px;
    background-color: #FFF2F2;
    border-radius: 15px;
}

footer{
    height: 609px;
    background-color: #070211;
}