.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1, h2, h3, h4, h5, p{
    margin: 0;
    font-family: inter;
}
main{
    width: 1320px;

}

.hero-section{
    background-image:url('../images/Banner Image.png');
    height: 600px;
    position: relative;
    
}
.hero-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    
}

.hero-section h3{
    color: aliceblue;
font-size: 36px;
font-weight: 500;
}
.hero-section h1{
    color: aliceblue;
    text-align: center;
font-size: 64px;
font-weight: 600;

}

.hero-section-text {
    position: relative;
    text-align: center;
    padding-top: 200px;
}

.categories{
    text-align: center;
    margin: 100px 0;
}

.categories h1{
    margin-bottom: 20px;
    font-size: 64px;
}
.categories h3{
    font-size: 16px;
}
.categories h2{
    font-size: 28px;
}
.categories h1, h3{
    color: red;
}
.categories img {
    width: 802px;
    height: 500px;
    margin-top: 40px;
}

.party{
    background-image:url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 400px;
    margin: 0 0 50px 0;
    padding: 200px 0px 0 100px;
    position: relative;
}

.party::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    
}

.party h1{
    color: aliceblue;
    position: relative;
    font-size: 56px;
}

.party p{
    color: aliceblue;
    position: relative;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.party button{
    position: relative;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: none;
    font-weight: 400;
    border-radius: 5px;
}
.portfolio {
    margin-bottom: 100px;
}
.portfolio h5 {
    color: red; 
   
}
.portfolio p {
    color: rgb(7, 2, 17, .6);
    padding: 5px 0 20px 0;
   
}
.portfolio .portfolio-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.subscribe{
    height: 616px;
    background-color: #FFF2F2;
    border-radius: 15px;
    padding: 100px 0 80px 0;
    text-align: center;
}

.subscribe h1{
}
.subscribe input{
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
}
#email{
    background-color: white;
border-left: 15px;
}

footer{
    width: 1600px;
    height: 609px;
    background-color: #ae94e0;

}